services:
  pg:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: test
  server:
    build: ./
    ports:
      - "3000:3000"
    depends_on:
      - pg